{{ "<!-- Contact Section -->" | safeHTML }}
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">{{ with .Site.Params.contact.title }}{{.}}{{ end }}</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
                <form id="contactForm" name="sentMessage" novalidate="novalidate">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>{{ with .Site.Params.contact.form.name.text }}{{.}}{{ end }}</label>
                            <input class="form-control" id="name" type="text" placeholder="{{ with .Site.Params.contact.form.name.text }}{{.}}{{ end }}" required="required" data-validation-required-message="{{ with .Site.Params.contact.form.name.error }}{{.}}{{ end }}" />
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>{{ with .Site.Params.contact.form.email.text }}{{.}}{{ end }}</label>
                            <input class="form-control" id="email" type="email" placeholder="{{ with .Site.Params.contact.form.email.text }}{{.}}{{ end }}" required="required" data-validation-required-message="{{ with .Site.Params.contact.form.email.error }}{{.}}{{ end }}" />
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>{{ with .Site.Params.contact.form.phone.text }}{{.}}{{ end }}</label>
                            <input class="form-control" id="phone" type="tel" placeholder="{{ with .Site.Params.contact.form.phone.text }}{{.}}{{ end }}" required="required" data-validation-required-message="{{ with .Site.Params.contact.form.phone.error }}{{.}}{{ end }}" />
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div>
       		 <input type="hidden"  name="_subject" value="New submission!">
       		 <input type="text" name="_gotcha" style="display:none" />
		    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>{{ with .Site.Params.contact.form.message.text }}{{.}}{{ end }}</label>
                            <textarea class="form-control" id="message" rows="5" placeholder="{{ with .Site.Params.contact.form.message.text }}{{.}}{{ end }}" required="required" data-validation-required-message="{{ with .Site.Params.contact.form.message.error }}{{.}}{{ end }}"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br />
                    <div id="success"></div>
                    <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">{{ with .Site.Params.contact.form.button.text }}{{.}}{{ end }}</button></div>
                </form>
            </div>
        </div>
    </div>
</section>
