{{ "<!-- Bootstrap core JS-->" | safeHTML }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
{{ "<!-- Third party plugin JS-->" | safeHTML }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
{{ "<!-- Contact form JS-->" | safeHTML }}
<script src="{{ .Site.BaseURL }}assets/mail/jqBootstrapValidation.js"></script>
<script src="{{ .Site.BaseURL }}assets/mail/contact_me.js"></script>
{{ "<!-- Core theme JS-->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/scripts.js"></script>
{{ range .Site.Params.custom_js }}
<script src="{{ . | absURL }}"></script>
{{ end }}
